.inputFormBaseConversion {
  background-color: #ffd6e0;
}

.inputFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputFormBaseConversion {
  padding: 2em;
  border: solid 2px black;
  border-radius: 5%;

}

.inputFormHr {
  color: black;
  border-top: 3px;
}
