* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --buttonColor: hsl(209, 100%, 71%);
  --buttonBorderColor: rgba(118, 118, 118, 0.3);
  --componentColor: #ffd6e0;
  --inputFieldFocusColor: 0.25em solid lightpink;
}

.bi-x-square {
  border-radius: 0.1em;
  outline-offset: 4px;
  color: var(--buttonColor);
  font-size: 1.2em;
}

.bi-x-square:hover {
  color: white;
  outline-offset: 2px;
}

.button {
  border-radius: 0.5em;
  padding: 0.75em;
}

.button:active {
  border-color: black;
}

.button:focus {
  box-shadow: #ffd6e0;
}

.component {
  align-self: center;
  background-color: var(--componentColor);
  box-sizing: content-box;
  border: 2px solid black;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  min-height: 300px;
  width: 75%;
}

.componentContainer {
  align-items: stretch;
  display: grid;
  gap: 0.75em;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 4em;
}

.componentName {
  display: inline;
}

.componentTitle {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.complementInputFieldGroupMargin {
  margin-top: 3em;
}

.deleteIconStyle {
  display: flex;
  justify-content: center;
}

.errorComponent {
}

.hideComponent {
  visibility: hidden;
}

input[type="radio"] {
  accent-color: lightpink;
}

.inputFormContainer {
  display: flex;
  justify-content: center;
}

.inputFieldMargin {
  margin-bottom: 1em;
}

.inputFieldPadding {
  border: 2px solid rgba(118, 118, 118, 0.3);
  border-radius: 0.5em;
  padding: 0.25em;
}

.inputFieldPadding:focus {
  outline: var(--inputFieldFocusColor);
}
.inputFieldWidth {
  width: 80%;
}

.navBarStyle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-family: "Domine", serif;
  padding: 1em;
}

.navBarTitleText {
  font-size: 20px;
  font-weight: 600;
}

.radioButtonColor {
  box-shadow: none;
}

.radioButtonColor:focus {
}

.radioButtonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 17px;
  width: 150px;
}

.radioGroup {
  align-items: center;
  display: flex;
}

.submitButtonColor {
  background-color: var(--buttonColor);
  border-color: var(--buttonBorderColor);
  color: white;
  min-width: 6em;
}

.submitButtonColor:hover {
  background-color: white;
  color: #ffd6e0;
}

.submitButtonColor:active {
  background-color: white;
  border-color: var(--buttonBorderColor);
  color: #ffd6e0;
  outline: 4px solid lightpink;
  outline-offset: 4px;
}

@media (width <= 750px) {
  .componentContainer {
    grid-template-columns: 1fr;
  }
}

@media (width <= 768px) {
  .component {
    padding: 0.75em;
  }

  .hideComponent {
    display: none;
  }

  .inputFieldWidth {
    width: 99%;
  }

  .navBarStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: "Domine", serif;
  }

  .radioButtonContainer {
    margin-top: 13px;
  }
}

@media (width >= 1000px) {
  .complementInputFieldGroupMargin {
    margin-top: 3.7em;
  }

  .component {
    padding: 1.5em;
  }

  .inputFieldWidth {
    width: 100%;
  }

  .inputFieldPadding {
    padding: 0.5em;
  }

  .radioButtonContainer {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
  }
}
