* {
  box-sizing: border-box;
  margin: 0;
}

.bi-x-square {
  color: hsl(209, 100%, 71%);
  font-size: 1em;
}

.bi-x-square:hover {
  color: #ffd6e0;
}

.button {
  outline-color: #ffd6e0;
}

.button:active {
  border-color: black;
}

.button:focus {
  box-shadow: #ffd6e0;
}

.component {
  align-self: center;
  border: 2px solid black;
  border-radius: 0.75em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  min-height: 300px;
  width: 75%;
}

.componentContainer {
  align-items: stretch;
  display: grid;
  gap: 0.75em;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 4em;
}

.componentName {
  display: inline;
}

.componentTitle {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.complementInputFieldGroupMargin {
  margin-top: 3em;
}

.deleteIconStyle {
  display: flex;
  justify-content: center;
}

.errorComponent {
}

.hideComponent {
  visibility: hidden;
}

.inputFormContainer {
  display: flex;
  justify-content: center;
}

.inputFieldMargin {
  margin-bottom: 1em;
}

.inputFieldPadding {
  padding: 0.25em;
}

.inputFieldWidth {
  width: 80%;
}

.navBarStyle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-family: "Domine", serif;
}

.navBarTitleText {
  font-size: 20px;
  font-weight: 600;
}

.radioButtonColor {
  box-shadow: none;
}

.radioButtonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 17px;
  width: 150px;
}

.radioGroup {
  align-items: center;
  display: flex;
}

.submitButtonColor {
  background-color: hsl(209, 100%, 71%);
  border-color: hsl(209, 100%, 71%);
}

@media (width <= 750px) {
  .componentContainer {
    grid-template-columns: 1fr;
  }
}

@media (width <= 768px) {
  .component {
    padding: 0.75em;
  }

  .inputFieldWidth {
    width: 99%;
  }

  .navBarStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: "Domine", serif;
  }

  .radioButtonContainer {
    margin-top: 13px;
  }
}

@media (width >= 1000px) {
  .inputFieldWidth {
    width: 100%;
  }

  .component {
    padding: 1.5em;
  }

  .radioButtonContainer {
    margin-top: 17px;
    width: 100%;
  }
}
