/* This component applies the style of the navBar to the NavBar component */


.baseConversion {
  font-size: 15px;
}
.complementCalculator {
  font-size: 15px;
}
.navBarStyle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  font-family: 'Domine', serif; 
  
}

.navBarTitleText {
  font-size: 20px;
  font-weight: 600;
}

.btn{
  outline-color: #ffd6e0;
}
.btn:active{
  border-color: black;
}

.btn:focus{
  box-shadow: #ffd6e0;

}