@font-face {
  font-family: "Domine";
  src: url("../fonts/Domine-Bold.ttf") format("tff");
}

body {
  background-color: #90f1ef;
  font-family: "Domine";
}

.iconStyle {
  font-size: 1.5em;
}

.navBarBrandIconStyle {
  font-size: 2em;
}

nav .button {
  font-family: "Domine";
}

.navLinkStyle {
  background-color: #90f1ef;
  border-color: rgba(0, 0, 0, 0);
}

.navLinkStyle:active {
  border: 2px solid black;
  outline: 4px solid lightpink;
  offset: 1px;
}
