@font-face {
  font-family: "Domine";
  src: url("../fonts/Domine-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

:root {
  --errorColor: hsl(209, 100%, 71%);
  --errorTextColor: hsl(0, 0%, 23%);
}

body {
  background-color: #90f1ef;
  font-family: "Roboto-Regular", sans-serif;
}

.displayError {
  background-color: var(--errorColor);
  color: var(--errorTextColor);
  visibility: visible;
  animation: fade-in 0.5s ease-in forwards;
}

.errorComponent {
  align-items: center;
  border-radius: 0.75em;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 20em;
}

.errorContainer {
  display: flex;
  justify-content: center;
}

.iconStyle {
  font-size: 1.5em;
}

.navBarBrandIconStyle {
  font-size: 2em;
}

nav .button {
  font-family: "Domine", serif;
}

.navLinkStyle {
  background-color: #90f1ef;
  border-color: rgba(0, 0, 0, 0);
}

.navLinkStyle:active {
  border: 2px solid black;
  outline: 4px solid lightpink;
  offset: 1px;
}

.submitButtonColor {
  font-family: "Roboto-Regular";
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
